<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav
        class="navbar navbar-expand-lg navbar navbar-dark"
        style="width: 100%"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
          
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" [routerLink]="['/about']">ABOUT</a>
            </li>
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" routerLink="/feature">FEATURES</a>
            </li>
            <div style="margin-left: 15%; margin-right: 22%;" >
              <img src="../../../assets/logo.png" alt="" height="100px" />
            </div>
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" routerLink="/contact">CONTACT</a>
            </li>
            
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" routerLink="/login">LOGIN </a>
            </li>
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" routerLink="/signup">SIGNUP</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  
</div>
