<div class="container ">
    <div class="row justify-content-center center-margin"
    >
        <div class="col-md-5 col-xl-5 col-sm-5 max-auto text-center">
            <form #form="ngForm">

                <h2 >Change Password</h2>

                <div class="form-group text-left">
                    <label for="password">Old Password</label>
                    <input
                      type="password"
                      name="opassword"
                      class="form-control"
                      ngModel
                      required
                      validateEqual="confirmPassword"
                      reverse="true"
                      #opassword="ngModel"
                      [ngClass]="{ 'is-invalid': opassword.touched && opassword.invalid , 'is-valid': !opassword.invalid }"
                    />
                    <div class="invalid-feedback text-right" *ngIf="opassword.invalid && opassword.touched">
                      <p *ngIf="opassword.errors.required">password is required</p>
                    </div>
                  </div>

                  <hr>
                
                <div class="form-group text-left">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      ngModel
                      required
                      validateEqual="confirmPassword"
                      reverse="true"
                      #password="ngModel"
                      pattern="(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[!@#$%^&*_=+-]).{8,12}"
                      [ngClass]="{ 'is-invalid': password.touched && password.invalid , 'is-valid': !password.invalid }"
                    />
                    <div class="invalid-feedback text-right" *ngIf="password.invalid && password.touched">
                      <p *ngIf="password.errors.required">password is required</p>
                      <pre *ngIf="password.errors.pattern">
                        At least 1 Uppercase
                        At least 1 Lowercase
                        At least 1 Number
                        At least 1 Special Character
                        Min 8 chars and Max 12 chars
                      </pre>
                    </div>
                  </div>
                  
        
                  <div class="form-group text-left">
                    <label for="conform-password">Confirm Password</label>
                    <input
                      type="password"
                      name="conform-password"
                      class="form-control"
                      ngModel
                      required
                      validateEqual="password"
                      #confirmPassword="ngModel"
                      [ngClass]="{ 'is-invalid': (confirmPassword.touched && confirmPassword.invalid), 
                                    'is-valid': confirmPassword.valid }"
                    />
                    <div class="invalid-feedback text-right" *ngIf="confirmPassword.invalid && confirmPassword.touched ">
                      <p *ngIf="confirmPassword.errors.required">Confirm password is required</p>
                      <p *ngIf="!confirmPassword.errors.required">Password and confirm password not matching</p>
                    </div>
                  </div>
                

                <div class="form-group">
                    <button 
                        class="center btn"
                        [disabled]="!form.valid"
                        type="submit">
                        SUBMIT
                    </button>   
                </div>
            </form>
        </div>
    </div>
</div>