.input-text {
  border-radius: 20px;
  background-color: aqua;
}


button{
  border-radius: 15px;
  width: 100px;
  margin:0 auto;
  display:block;
background-color: aqua;
 color: blanchedalmond;
}

body {
  background: linear-gradient(to bottom, #06042a 0%, #452860 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

