<div class="container">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <h1 style="text-align: center">MISSION</h1>
      <div style="text-align: center; font-size: 10px">
        TO simplify inversmnet in discreat market section
      </div>
      <br /><br /><br />
      <div class="col-md-10"><b>
        APPLICATION STATUS </b><br /><br /><br />

          askfbafajfgafkagjsfgajkfgskjafgkajfkjasfa afkahgfasjfsajfgasf
          akjfgakjfgakjgfas akjfgakjgfajkfsgakjf ajgfagfkja ajslhfajgf12345
          2353657465 32453547656

      </div>
      <br />
      <div style="justify-content: center; font-size: 10px">
        Interested in creating your own custom trading tools? Use the Contact
        page to reach out to one of our team members. We'd love to discuss your
        goals and provide options to further assist you with your unique trading
        style.
      </div>
    </div>
  </div>
</div>
