body {
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3e245b;
  color: white;
  min-width: 100%;
  /* position: absolute; */
  background-image: url(./assets/background.png);
}
