<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <div id="login-column" class="form-group">
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <div class="row justify-content-center align-items-center h4">
            SIGN UP
          </div>
          name <br />
          <input
            type="text"
            class="form-control input-text"
            ngModel
            name="name"
            #name="ngModel"
            required
          />
          <small class="text-danger" *ngIf="name.invalid && name.touched"
            >Invalid name</small
          ><br />
          E-mail <br />
          <input
            type="email"
            name="email"
            class="form-control input-text"
            pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
            ngModel
            #email="ngModel"
            required
            minlength="6"
          />
          <small class="text-danger" *ngIf="email.invalid && email.touched"
            >Invalid email</small
          ><br />
          username <br />
          <input
            type="text"
            name="username"
            class="form-control input-text"
            ngModel
            #username="ngModel"
            required
            minlength="6"
          />
          <small
            class="text-danger"
            *ngIf="username.invalid && username.touched"
            >Invalid username</small
          ><br />
          Passsword <br />
          <input
            type="password"
            name="password"
            class="form-control input-text"
            ngModel
            #password="ngModel"
            required
            minlength="6"
          />
          <small
            class="text-danger"
            *ngIf="password.invalid && password.touched"
            >Invalid password</small
          ><br />
          Confirm Passsword <br />
          <input
            type="password"
            name="comfrim-password"
            class="form-control input-text"
            ngModel
            #ConfirmPassword="ngModel"
            required
            minlength="6"
          /><small
            class="text-danger"
            *ngIf="
              ConfirmPassword.touched &&
              !(password.value == ConfirmPassword.value)
            "
            >Password not matched</small
          ><br />
          <br />
          <button class="center" type="submit" [disabled]="!loginForm.valid">
            SIGN-UP
          </button>
          <a
            routerLinkActive="true"
            routerLink="/auth/login"
            class="row justify-content-center align-items-center"
            style="color: white"
            >Already Have Account ? Log In</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
